.list {
	list-style-type: none;
	padding: 0;
}

.carousel {
	margin: 0 auto;
	width: 500px;
	height: 300px;
	/*border: solid green;*/
	overflow: hidden;
	margin-top: 50px;
}

.carousel-img {
	width: 2500px;
	height: 300px;
}

img {
	width: 500px;
	height: 300px;
	float: left;
}